<head>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
</head>

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: grey;
  font-family: SF Pro Rounded;
  font-size: 16px;
  margin: 0 auto;
  width: 375px;
}

.header {
  display: flex;
  text-align: left;
  background-color: #ffffff;
  position: fixed;
  margin: 0 auto;
  top: 0;
  width: 375px;
  height: 64px;
  border-bottom: 1px solid #3b3b3b;
}

.status{
 width: 375px;
 position: fixed;
 display: flex;
 text-align: left;
 background-color: #ffffff;
}

.header i{
  color: #000000;
  margin-top: 32px;
  padding-left: 10px;
}

.distancetostop{
  text-align: left;
  background-color: #ffffff;
  width: 375px;
  height: 40px;
  padding-top: 79px;
  display: flex;
  align-content: center;
  justify-content: center;
  border-bottom: 1px solid #3b3b3b;
}

.walkingimg{
  padding: 0px 5px 10px 100px;
  width: 26px;
  height: 26px;
  display: inline-flex;
  align-content: center;
}

.subhead{
  width: 375px;
  height: 30px;
  border-bottom: 1px solid #3b3b3b;
  background-color: #FDE6D6;
}


.header h1 {
  font-family: SF Pro Rounded;
  font-size:17px;
  text-align: left;
  color:#000000;
  padding-top: 32px;
  padding-left: 10px;
}

.distancetostop h1 {
  font-family: SF Pro Rounded;
  font-size:18px;
  text-align: left;
  color:#000000;
  padding-top: 5px;
  padding-left: 20px;
}

h2 {
  font-family: SF Pro Rounded;
  font-size:20px;
  line-height: 21px;
  text-align: left;
  color:#000000;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 20px;
}

h3 {
  font-family: SF Pro Rounded;
  font-size:24px;
  font-weight: 80%;
  text-align: left;
  color:#000000;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 20px;
  display: inline-block;
}

h4 {
  font-family: SF Pro Rounded;
  font-size:18px;
  font-weight: 80%;
  text-align: left;
  color:#000000;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 20px;
  display: inline-block;
}

.barrive{
  width: 375px;
  height: 85px;
  padding-top: 15px;
  background-color: #FF6B00;
  display: inline-block;
  box-shadow: 0px 10px 10px -3px rgba(0,0,0,0.18)
}

.barrive h3{
  color:#ffffff;
  display: inline-block;
  font-weight: bolder;
  padding-left: 20px;

}

.barrive h4{
  color: #ffffff;
  display: inline-block;
  font-weight: 90%;
  padding-left: 20px;
}

.bnext{
  background-color: #ffffff;
  padding-top: 15px;
  width: 100%;
  height: 85px;
  border-bottom: 1px solid #3b3b3b;
}

h3.nowarriving{
  text-transform: uppercase;
  float: right;
  margin-right: 20px;
}

h4.nextarriving{
  float: right;
  margin-right: 50px;
  font-weight: 90%;
  font-size: 18px;
}

.barrive i{
  color: #ffffff;
  float: right;
  margin-top: 27px;
  margin-right: 20px;
}

.bnext i {
  float: right;
  margin-top: 27px;
  margin-right: 20px;
}

.times {
  float: right;
  margin-right: 20px;
}
